/* app.blade */

img{
    width : 150px;
}

#titre{
text-align: center;
}

#titre a{
    font-size: 88px;
    color : #264653;
}

#login{
align-self: flex-end;
}

#login li{
    text-align: end;
}

#loginBackground{
    background-color: #2a9d8f;
}

h1{
    font-family: 'Amatic SC', cursive;
}


/* admin_dashboard*/

#adminBackground{
    background-color: #2a9d8f;
}

#membersDisplay{
    background-color: white;
    margin-top: 15px;
    margin-bottom: 15px;
}

#accountCreation{
    background-color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom : 15px;
}
#accountCreation label{
    margin-top: 8px;
}

#logoutButton a{
    text-decoration: none;
    color :rgba(0, 0, 0, 0.5) !important;
}

#logoutButton{
    align-self: flex-end;
}

th{
    font-weight: bold;
}

th .row{
    font-weight: bold;
}

.redirectButtons{
    margin-top : 15px;
    margin-bottom: 15px;
}

.redirectButtons a{
    text-decoration: none;
    color : white !important
}

h2{
    text-align: center;
    padding : 8px 0 8px 0;
    font-weight : bold;
    font-family: 'Amatic SC', cursive;
    font-size : 44px;
}

/* home */

#topicSuggestion label{
    background-color: #264653;
    color : white;
    font-family: 'Amatic SC', cursive;
    font-size : 44px;
    font-weight: bold;
}

#topicSuggestion button{
    text-align: center;
    margin-top : 5px;
    float : right;
}

h3{
    text-align: center;
    padding : 8px 0 8px 0;
    font-weight : bold;
    font-family: 'Amatic SC', cursive;
    font-size : 44px;
    color : white;
    margin-top: 15px;
}

#homeBackground{
    background-color: #264653;
}

#buttonRandom{
    margin-top : 20px;
    margin-bottom : 15px;
}

#buttonRandom a{
    text-decoration: none;
    color : white !important;
}

.displayTopics{
    padding-bottom : 15px;
}

.displayTopics ul{
    margin-top : 1px;
    margin-bottom: 1px;
    width : 60%;
    text-align: center;
    font-size : 18px;
}

/*Random Page */

.randomBackground{
    background-color: #e76f51;
}

#randomAccueil a{
    text-decoration: none;
    color : #264653 !important;
}

#randomAccueil{
    margin-top : 20px;
    margin-bottom : 15px;
}

#topic{
    font-family: 'Amatic SC', cursive;
    font-size : 88px;
    color : white;
    margin-top : 40px;
    padding-bottom: 100px;
    text-align: center;
}